* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

main {
  width: 100%;
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
}

.home-background {
  background:
          linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
          url("../assets/cover-image.jpg");

  background-size: cover;
  background-position: center;
}