* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
}