@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.5;
}

button,
input,
select,
textarea {
  font: inherit;
}

main {
  width: 100%;
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 900px) {
  main {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
  }
}

.home-background {
  background:
          linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
          url("../assets/cover-image.jpg");

  background-size: cover;
  background-position: center;
}

.details-background {
  background:
          linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
          url("../assets/details-background.jpg");

  background-size: cover;
  background-position: center;
}