.concert-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;

  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.concert-card {
  p {
    margin-bottom: 0.3rem;
  }
}

.details-link {
  display: inline-block;
  margin-top: 0.75rem;
  padding: 0.5rem 0.75rem;

  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
}